body
    {
        background-color: blueviolet;
    }

a:link 
    {
        color:aliceblue;
        background-color: brown;
        text-decoration: none;
        padding: 15px;
        display: inline-block;
        font-family: 'Courier New', Courier, monospace;
    }  
a:visited
    {
        color:aliceblue;
        background-color: brown;
        text-decoration: none;
    }
a:hover
    {
        color: cornflowerblue;
        background-color: deeppink;
        text-decoration: underline;
    }
a:active
    {
        color: darkmagenta;
        background-color: darkgreen;
        text-decoration: none;
    }